/* Set ALL HTML elements to have border-box sizing */
* {
  box-sizing: border-box;
}

/* want to have the same font/color/background scheme for both the header and the footer*/
header, footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: gainsboro;
  background-color: rgb(47, 64, 79);
}

/* want to have a different font and the inverse font/background color scheme for the main section */
main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(47, 64, 79);
  background-color: gainsboro;
}

main h2 {
  text-align: center;
  font-size: 24px;
}

main p {
  text-align: left;
  font-size: 18px;
}

/*want to keep text-containing elements in the middle of the web page*/
.pageContainer {
  margin: 0px;
  padding: 20px 100px;
}

/*don't want any top/right margin between the header/main/footer transitions*/
.majorSections {
  margin: 0;
}
